@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes slideOutOnLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes fadeOutBackdrop {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
