@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

$initial-max-width: 45rem;

.article-photos {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  max-width: $initial-max-width;

  @include mixins.respond(tab-land) {
    max-width: 36rem;
  }
  @include mixins.respond(tab-port) {
    max-width: 100vw;
    max-height: 70vh;
    overflow: hidden;
  }

  &--lightbox {
    max-width: 100%;
    justify-content: center;
  }

  &__main-photo-container {
    position: relative;

    &__switch-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;

      width: 6rem;
      height: 6rem;
      position: absolute;
      background-color: variables.$color-white;
      border: none;
      border-radius: 10rem;

      cursor: pointer;

      &:hover {
        & svg path {
          stroke: variables.$color-orange;
        }
      }
    }

    &__prev-btn {
      left: 0;
      transform: translate(-50%, -50%);
    }
    &__next-btn {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  &__main-photo {
    border-radius: 2rem;
    cursor: pointer;

    @include mixins.respond(tab-port) {
      border-radius: 0;
    }

    &--lightbox {
      max-width: 100%;
      cursor: default;
    }
  }

  &__thumbnail-box {
    display: flex;

    gap: 3rem;

    align-self: center;

    max-width: $initial-max-width;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__thumbnail-container {
    background-color: variables.$color-white;
    border-radius: 1rem;
    overflow: hidden;

    cursor: pointer;

    &--selected {
      box-shadow: 0 0 0 0.3rem variables.$color-orange;

      & > * {
        opacity: 0.6 !important;
      }
    }
  }

  &__thumbnail {
    max-width: 100%;
    display: block;
    transition: all 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}
