@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

.article-photos {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  max-width: 44rem;

  @include mixins.respond(tab-land) {
    max-width: 36rem;
  }
  @include mixins.respond(tab-port) {
    max-width: 100vw;
    max-height: 70vh;
    overflow: hidden;
  }

  &__main-photo {
    border-radius: 2rem;
    cursor: pointer;

    @include mixins.respond(tab-port) {
      border-radius: 0;
    }
  }

  &__thumbnail-box {
    display: flex;

    gap: 3rem;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__thumbnail-container {
    flex: 0 1 25%;

    height: max-content;
    border-radius: 1rem;
    overflow: hidden;

    cursor: pointer;

    &--selected {
      box-shadow: 0 0 0 0.3rem variables.$color-orange;

      & > * {
        opacity: 0.4;
      }
    }
  }

  &__thumbnail {
    max-width: 100%;
    display: block;
  }
}
