@use '../../sass/abstracts/variables.module';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: variables.$color-black;
  opacity: 0.6;
  z-index: 10;
}

.mobile-navlist-overlay {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: variables.$color-white;
  min-height: 100vh;
  min-width: 70vw;

  padding: 3rem 2rem;
}

.mobile-navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
  color: variables.$color-black;
  margin: 3rem 0;
}
