@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

.navigation {
  padding: 0rem 1rem 3rem;
  margin: 1rem;
  border-bottom: 0.1rem solid variables.$color-grayish-blue;
  display: flex;

  align-items: center;
  justify-content: space-between;

  @include mixins.respond(tab-port) {
    border-bottom: none;
    padding: 0rem 1rem 0rem;
    margin: 1rem 0;
  }

  &-list-container {
    display: flex;
    justify-content: flex-start;
    gap: 6rem;

    &__start {
      display: flex;
      gap: 1rem;

      @include mixins.respond(tab-port) {
        transform: scale(0.8);
      }

      &__menu {
        display: none;
        @include mixins.respond(tab-port) {
          display: block;
          align-self: flex-end;
        }
      }
    }
  }

  &-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    flex: 1 1 auto;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__user-cart {
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    @include mixins.respond(tab-port) {
      justify-content: flex-end;
      gap: 2rem;
    }

    &__avatar-container {
      flex: 0 1 5rem;
      display: flex;
      align-items: center;

      @include mixins.respond(tab-port) {
        flex-basis: 3rem;
      }
    }

    &__avatar {
      width: 100%;
    }
  }
}
