@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

.navigation {
  padding: 0rem 1rem 3rem;
  margin: 1rem;
  border-bottom: 0.1rem solid variables.$color-grayish-blue;
  display: flex;

  align-items: center;
  justify-content: space-between;

  &-list-container {
    display: flex;
    gap: 6rem;

    &__menu {
      display: none;
    }

    &__start {
      display: flex;

      gap: 2rem;
    }

    @include mixins.respond(tab-port) {
      &__menu {
        display: block;
        align-self: flex-end;
      }
    }
  }

  &-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    flex: 1 1 auto;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__user-cart {
    display: flex;

    align-items: center;
    justify-content: space-between;

    @include mixins.respond(tab-port) {
      justify-content: flex-end;
      gap: 2rem;
    }

    &__avatar-container {
      flex: 0 1 5rem;
      display: flex;
      align-items: center;

      @include mixins.respond(tab-port) {
        flex-basis: 3rem;
      }
    }

    &__avatar {
      width: 100%;
    }
  }
}
