@use '../../sass/abstracts/variables.module';

.button {
  flex: 1 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.8rem;
  background-color: variables.$color-orange;

  font-weight: 700;
  color: variables.$color-white;

  box-shadow: 0rem 0.8rem 1.6rem -0.3rem variables.$color-orange;

  transition: all 0.2s;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
