@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

.modal-container {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  z-index: 11;
  top: 0;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 50rem;

  &__close {
    position: absolute;
    right: 0;

    z-index: 12;
    transform: scale(1.5) translateY(-120%);
    cursor: pointer;
    & path {
      fill: variables.$color-orange;
    }

    @include mixins.respond(tab-land) {
      transform: scale(1.2);
    }
  }
}
